@import url(base.css);
body{
    background: #fefefe;
}
header{
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,0.9);
}
header>nav{
    width: 1226px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>nav>a{
    display: block;
    width: 167px;
    height: 56px;
}
.nav-left{
    width: 167px;
    height: 56px;
    background: url("../img/logo.png")no-repeat center/100%;
}
.nav-right{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right>li{
    height: 100%;
}
.nav-right>li>a{
    font-size: 16px;
    line-height: 60px;
    margin: 30px;
    padding: 13px 0;
    color: #111111;
}
.nav-right>li>a:hover{
    border-bottom: 2px solid #000;
}
section{
    width: 1226px;
    margin: 0 auto;
}
section>nav{
    margin-top: 15px;
    padding: 0 10px;
    height: 40px;
    background: #f3f3f3;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: left;
    align-items: center;
}
section>nav>div{
    width: 100%;
    height: 20px;
    color: #999;
}
section>nav>div>span{
    margin-right: 5px;
}
section>nav>div>a{
    color: #4daa43;
}
.page_pr_main{
    margin: 12px 0 30px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.page_pr_left{
    width: 25%;
    height: 300px;
    border-right: 12px solid #fefefe;
    box-sizing: border-box;
}
.page_pr_left_name{
    width: 100%;
    height: 90px;
    background: #5ec04f;
    border: 1px solid #999;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.page_pr_left_name>div{
    height: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
}
h1{
    color: #fff;
    font-size: 24px;
    display: inline-block;
    height: 30px;
    font-weight: 400;
}
h2{
    color: #fff;
    font-size: 16px;
    display: inline-block;
    height: 30px;
    margin-right: 50px;
    font-weight: 200;
}
.page_pr_left_list{
    width: 80%;
    padding: 0 10%;
    height: auto;
    border: 1px solid #999;
    border-top: none;
}
.page_pr_left_list>li{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
}
.page_pr_left_list>li:last-child{
    border-bottom: 0;
}
.page_pr_left_list>li>a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 45px;
    font-size: 16px;
    color: #111;
}
.page_pr_left_list>li:hover a{
    color: #5ec04f;
}


/*分割线     分割线          分割线          分割线          分割线*/
.new-right{
    width: 75%;
    height: auto;
    border: 1px solid #999;
    box-sizing: border-box;
    padding: 20px 20px 12px 20px;
}
.new-right>ul{
    width: 100%;
    height: auto;
    padding: 10px 0 20px;
    box-sizing: border-box;
}
.new-right>ul>li{
    width: 100%;
    height: 112px;
    border-bottom: 1px dotted #aaa;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.new-right>ul>li:first-child{
    border-top: 0;
}
.new-right>ul>li>a>img{
    width: 150px;
    height: 92px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: block;
    float: left;
}
.new-right-name{
    width: 705px;
    height: 112px;
    float: left;
}
.new-right-name>a{
    font-size: 16px;
    color: #777;
}
.new-right-name>a:hover{
    color: #4daa43;
}
.new-right-name>span{
    font-size: 12px;
    color: #b0b0b0;
}
.new-right-name>p{
    font-size: 12px;
    color: #aaa;
    display: inline;
}

footer{
    width: 100%;
    height: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer>a{
    font-size: 12px;
    line-height: 16px;
    color: #aaa;
    display: block;
    height: 18px;
    margin: 0 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0 6px;
}
.Ahot{
    background: #ccc;
    color: #fff;
}
